{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    To-Do List
    <a href="{% url 'todo:task-create' %}" class="btn btn-dark link-to-page">
      Create
    </a>
  </h1>
  {% if tasks_list %}
    <ul class="list-group">
      {% for task in tasks_list %}
        <li class="list-group-item">
          <h4>
            {{ task.content }}
          </h4>
          <h6>
            Status:
            {% if task.completed %}
              <span class="done">Done</span>
            {% else %}
              Not Done
            {% endif %}
          </h6>
          <p>
            Created at: {{ task.created_at }}
            {% if task.deadline %}
              <p >
                Deadline: {{ task.deadline }}
              </p>
            {% endif %}
          </p>
          <h6>
            Tags:
              {% for tag in task.tags.all %}
                {{ tag }}
              {% empty %}
                None
              {% endfor %}
          </h6>
          <p>
            <a href="{% url 'todo:task-update' pk=task.id %}" class="update-link">
              Update
            </a>
            <a href="{% url 'todo:task-delete' pk=task.id %}" class="delete-link">
              Delete
            </a>
            {% if task.completed %}
              <a href="{% url 'todo:complete-undo' pk=task.id %}" class="btn btn-light">
                Undo
              </a>
            {% else %}
              <a href="{% url 'todo:complete-undo' pk=task.id %}" class="btn btn-info">
                Complete
              </a>
            {% endif %}

          </p>
        </li>
      {% endfor %}
    </ul>

  {% else %}
    <p>There are no tasks</p>
  {% endif %}
{% endblock %}